/* styles.css */

#chatWidgetContainer {
    background: url("https://res.cloudinary.com/dj3zrsni6/image/upload/v1697808567/chat/Rectangle_26_ecpg44.png") no-repeat;
    background-position: top;
    background-size: 400px;
    position: fixed !important;
    bottom: 20px;
    background-color: #fff;
    right: 20px;
    width: 300px;
    height: 450px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
    /* border: 1px solid #ccc; */
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: auto;
    display: none;
    z-index: 11111;
}

.chat_open{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1111111;
}
.hidden {
    display: none; /* CSS class to hide an element */
}
.top_container{
    /* position: fixed; */
    /* top: 0; */
    background-color: #3B8CF7;
    height: 80px;
    display: flex;
    gap: 0px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

}

.iconsContainer{
    display: flex;
}

.title, .name{
    color:#fff;
    font-size: 12px;
}

.avatar {
    height: 50px;
    width: auto;
}
.call, .menu{
    height: 30px;
    width: auto;
}
.menu{

}
.chat-container {
    padding: 0 20px;
    margin-top: 40px;
    margin-bottom: 50px;
    min-height: auto;
    scroll-behavior: smooth;
}
.message-container{
 display: flex;
 gap: 5px;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 290px;
    /* border: solid red; */
}

.message-input {
    width: inherit;
    /* width: calc(100% - 60px); */
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.chat-message {
    margin-bottom: 10px;
}
.chat-message.user {
    background-color: #DCF8C6;
    align-self: flex-end;
}

.chat-message.server {
    background-color: #EAEAEA;
    align-self: flex-start;
}

button {
    width: 50px;
    padding: 10px;
    /* height: 40px; */
    border-radius: 10px;
    background: #489CD1;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.send-button:hover {
    background: #45a049;
}


.close_button{
position: absolute;
top: -5px;
right: 5px
}




@media only screen and (max-width:600px) {

    #chatWidgetContainer {
        width: 290px;
        height: 400px;
        display: none;
    }
    .message-container{
        display: flex;
        gap: 5px;
        align-items: center;
       position: fixed;
           bottom: 30px;
           right: 20px;
           width: 280px;
       }
       
    .message-input {
        width: 280px;
        border: none;
        border-bottom: 1px solid #ccc;
    }
}