/* styles.css */

#chatWidgetContainer {
    position: fixed !important;
    border: 5px solid black;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 500px;
    border: 1px solid #ccc;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: auto;
    display: none;
    z-index: 11111;
}

.chat_open{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1111111;
}
.hidden {
    display: none; /* CSS class to hide an element */
}
.top_container{
    /* position: fixed; */
    /* top: 0; */
    background-color: red;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

}

.avatar{
    height: 80px;
}
.chat-container {
    padding: 0 20px;
    margin-top: 40px;
    margin-bottom: 50px;
    min-height: auto;
    scroll-behavior: smooth;
}
.message-container{
 display: flex;
 gap: 5px;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 380px;
}

.message-input {
    /* width: inherit; */
    width: calc(100% - 60px);
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.chat-message {
    margin-bottom: 10px;
}
.chat-message.user {
    background-color: #DCF8C6;
    align-self: flex-end;
}

.chat-message.server {
    background-color: #EAEAEA;
    align-self: flex-start;
}

button {
    width: 50px;
    padding: 10px;
    /* height: 40px; */
    border-radius: 10px;
    background: #489CD1;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.send-button:hover {
    background: #45a049;
}


.close_button{
position: absolute;
top: 10px;
right: 10px
}




@media only screen and (max-width:600px) {

    #chatWidgetContainer {
        width: 290px;
        height: 400px;
        display: none;
    }
    .message-container{
        display: flex;
        gap: 5px;
        align-items: center;
       position: fixed;
           bottom: 30px;
           right: 20px;
           width: 280px;
       }
       
    .message-input {
        width: 280px;
        border: none;
        border-bottom: 1px solid #ccc;
    }
}